{{ define "main" }}
  <table>
    <thead>
      <tr>
        <th>Jméno</th>
        <th>Email</th>
        <th>Přijde</th>
      </tr>
    </thead>

    <tbody>
      {{ range .Site.Data.data.users }}
      <tr {{- if eq .Prijde "Ano" }} class='green'
          {{- else if eq .Prijde "Ne" }} class='red'
          {{- else }} class='gray'
          {{- end }}>
        <td>{{ .Jmeno }}</td>
        <td>{{ .email }}</td>
        <td>{{ .Prijde }}</td>
      </tr>
      {{ end }}
</tbody>
  </table>
{{ end }}